## SvenCo-op map CFG file - Helecopter Battle 3
## Map Author:  Mad Jonesy

weapon_glock
weapon_crowbar
ammo_9mm 17

skill 3

mp_multiplespawn 1

mp_monsterpoints 1

mp_timelimit 30
mp_fraglimit 0

mapcyclefile mapcycle.txt

mp_flashlight 1

mp_falldamage 1

mp_forcerespawn 0

mp_weaponstay 1

mp_radiovoice 0

mp_disablegaussjump 0

## Physics stuff. 
## Don't change unless you know what you're doing!!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
